---
import Icon from '@components/icon.svelte'
import Link from '@components/link.svelte'
import type { FavoriteProject } from '@lib/projects'
import ProjectImage from './project-image.astro'
import ProjectInfo from './project-information.svelte'

interface Props extends FavoriteProject {
  class?: string
}

const {
  techs,
  status,
  category,
  name,
  description,
  links,
  industry,
  class: className
} = Astro.props

const demoLink = links?.find(link => link.type === 'demo')?.link
---

<section
  class=`grid gap-4 grid-cols-2 p-6 md:gap-8 lg:grid-cols-6 lg:p-12 xl:gap-8 xl:px-16 xl:py-12 ${className}`
>
  <span
    class="text-black-500 dark:text-slate-100 uppercase col-span-2 lg:text-lg lg:col-start-2"
  >
    {status} • {industry}
  </span>

  <ProjectImage
    {name}
    className="col-span-full -mx-6 lg:-mx-12 xl:-mx-16"
    imgClass="aspect-[12/5]"
  />

  <ProjectInfo
    {name}
    {description}
    {links}
    class="col-span-2 md:justify-between lg:flex-row lg:self-start lg:gap-32 lg:col-span-5"
  >
    <div
      class="flex flex-wrap gap-4 pt-6 text-black-500 dark:text-current"
      slot="techs"
    >
      {
        techs.map(tecnology => (
          <Icon name={tecnology} size="2.5rem" class="xl:w-14 xl:h-14" />
        ))
      }
    </div>
  </ProjectInfo>

  <span
    class="text-black-500 dark:text-slate-100 text-base uppercase lg:text-lg lg:col-start-5 lg:row-start-1"
  >
    {category}
  </span>

  <Link
    to={demoLink ?? ''}
    as="no-animate"
    class="justify-self-end self-center col-end-[-1] lg:self-start text-black-500 dark:text-current"
  >
    <Icon
      name="arrow"
      size="2rem"
      class="xl:w-12 xl:h-12 motion-reduce:animate-bounce-left"
    />
  </Link>
</section>
