---
import Link from '@components/link.svelte'
import Certifications from './certifications.astro'
import Experiences from './experiences.astro'
import Icon from '@components/icon.svelte'
import Marquee from '@components/marquee.svelte'
import SoftSkills from '@components/soft-skills.svelte'
import ContactMeLink from '@ui/contact-me-link.astro'
import Container from '@ui/container.svelte'
import aboutMeData from '@lib/about-me'
import { getI18N } from 'src/i18n'

// TODO: add linkedin integration for about data
// import { getCertifications } from '@lib/services/linkedin'
// await getCertifications()
// TODO: in aboutme section add an use the redsocials
// TODO: in aboutme section add an description about me
// TODO: implemented the experience and add info to aboutme section
// TODO: implemented the certifications and add info to aboutme section

const {
  ACHIEVEMENTS,
  SOCIAL_NETWORKS
} = aboutMeData

const { currentLocale } = Astro
const i18n = getI18N(currentLocale)
---

<Container class="from-purple-500 to-purple-500 py-4" id="about">
  <section
    id="about"
    class="grid auto-rows-auto grid-cols-1 gap-2 w-full p-6 md:grid-rows-7 md:grid-cols-2 xl:gap-4 xl:grid-cols-7 xl:grid-rows-[10] grid-flow-row"
  >
    <header
      class="rounded-2xl p-4 w-full bg-purple-400 dark:bg-neutral-800 row-start-1 font-serif xl:col-span-3 xl:row-span-2"
    >
      <h3 class="text-2xl font-bold mb-1">
        {i18n.ABOUT_TITLE}
      </h3>
      <ContactMeLink
        text={i18n.ABOUT_CONTACT_LABEL}
        className="font-bold float-right hover:text-purple-400 dark:hover:bg-purple-500 dark:hover:border-purple-500 dark:hover:text-neutral-800 active:text-purple-400 dark:active:bg-purple-500 dark:active:border-purple-500 dark:active:text-neutral-800"
      />
    </header>

    <article
      class="flex gap-1 md:col-start-1 md:row-start-2 xl:col-span-3 xl:row-span-2 xl:col-start-1 xl:row-start-3"
    >
      {
        ACHIEVEMENTS.map(({ value, description }, i) => (
          <article class:list={['text-xl/3 lg:text-2xl/3 text-center rounded-2xl py-4 px-2 w-1/3 grid place-content-center capitalize',
            { 'bg-emerald-400': i === 0 }, { 'bg-amber-400': i === 1 }, { 'bg-rose-400': i === 2 }]}>
            <p class="mb-2 font-bold">{value}</p>
            <p class="text-sm/3 lg:text-base/4 font-semibold w-min">
              {i18n[description]}
            </p>
          </article>
        ))
      }
    </article>

    <article
      class="rounded-2xl p-4 w-full bg-purple-400 dark:bg-neutral-800 flex justify-between items-center xl:col-span-2 xl:col-start-6 xl:row-start-2"
    >
      <h5 class="font-serif text-base font-semibold">{i18n.NAME_LABEL}:</h5>
      <p class="text-sm capitalize w-max self-center font-semibold">
        Alan Smith Valencia Izquierdo
      </p>
    </article>

    <article
      class="md:row-span-4 md:col-start-2 md:row-start-1 xl:col-span-2 xl:row-span-5 xl:col-start-4 xl:row-start-2"
    >
      <img
        class="rounded-2xl aspect-square object-cover w-full bg-purple-400 dark:bg-neutral-800"
        src=""
        alt=""
      />
      <img
        src="assets/dance-to-life.svg"
        alt="Dance to life"
        class="w-48 -mt-24 float-right md:w-40"
      />
    </article>

    <article
      class="rounded-2xl p-4 w-full bg-purple-400 dark:bg-neutral-800 md:row-start-6 xl:col-span-2 xl:row-span-4 xl:col-start-6 xl:row-start-7"
    >
      <h4 class="text-2xl font-bold font-serif mb-2">{i18n.ABOUT_ME}</h4>
      <p>
        {i18n.ABOUT_ME_TEXT}
      </p>
    </article>

    <SoftSkills
      {currentLocale}
      class="bg-purple-400 dark:bg-neutral-800 md:row-start-5 xl:col-span-2 xl:row-span-2 xl:col-start-6 xl:row-start-3"
      client:visible
    />

    <article
      class="rounded-2xl p-4 w-full bg-purple-400 dark:bg-neutral-800 md:row-start-5 xl:col-span-2 xl:col-start-6 xl:row-start-5"
    >
      <h4 class="font-serif text-base font-semibold mb-2">{i18n.LANGUAGES}:</h4>

      <footer class="flex justify-between gap-2">
        <p class="w-min text-center font-bold">{i18n.SPANISH_LEVEL}</p>
        <p class="w-min text-center font-bold">{i18n.ENGLISH_LEVEL}</p>
        <p class="w-min text-center font-bold">{i18n.FRENCH_LEVEL}</p>
      </footer>
    </article>

    <article
      class="rounded-2xl p-4 w-full bg-purple-400 dark:bg-neutral-800 md:row-start-6 content-between xl:col-span-3 xl:row-span-2 xl:col-start-1 xl:row-start-5"
    >
      <header class="flex justify-between content-center">
        <h4 class="text-2xl font-bold font-serif">{i18n.EDUCATION_CERTIFICATIONS}</h4>
        <a href="/" class="capitalize self-center">{i18n.SEE_ALL}</a>
      </header>

      <Certifications />
    </article>

    <article
      class="rounded-2xl p-4 w-full bg-purple-400 dark:bg-neutral-800 md:col-span-2 xl:col-span-5 xl:row-span-4 xl:col-start-1 xl:row-start-7"
    >
      <header class="flex justify-between content-center">
        <h4 class="text-2xl font-bold font-serif">{i18n.EXPERIENCE}</h4>
        <a href="/" class="capitalize self-center">{i18n.SEE_ALL}</a>
      </header>
      <Experiences />
    </article>

    <article
      class="rounded-2xl p-4 w-full bg-purple-400 dark:bg-neutral-800 md:row-start-4 xl:col-span-2 xl:col-start-6 xl:row-start-6 flex justify-center items-center gap-2"
    >
      {
        SOCIAL_NETWORKS.map(({ to, social }) => (
          <Link
            href={to}
            class="rounded-full bg-purple-300 dark:bg-neutral-500 aspect-square p-2 w-full max-w-[56px] group hover:text-slate-100 dark:hover:text-black-500 transition-[scale_color]"
            as="no-animate"
          >
            <Icon
              name={social}
              size="1.25rem"
              class="w-full h-full group-hover:scale-110"
            />
          </Link>
        ))
      }
    </article>

    <Marquee
      class="bg-purple-400 dark:bg-neutral-800 from-purple-400 dark:from-neutral-800 md:col-span-2 md:row-span-5 xl:col-span-4 xl:col-start-4 xl:row-start-1 xl:row-span-1"
    >
      <p class="m-auto ml-1">• {i18n.PHRASE_TRANSFORM}</p>
      <p class="m-auto ml-1">• {i18n.PHRASE_INNOVATION}</p>
    </Marquee>
  </section>
</Container>
