---
import Carousel from '@components/carousel.svelte'
import Icon from '@components/icon.svelte'
import Link from '@components/link.svelte'
import { shortFormatDate } from '@utils/date'

const certifications = [{
  name: 'Javascript',
  image: '',
  link: 'https://www.freecodecamp.org/certification/imalanvalencia/javascript',
  initDate: shortFormatDate('2022-09-01', Astro.currentLocale),
  endDate: shortFormatDate('2022', Astro.currentLocale),
  issuedBy: 'freeCodeCamp'
}]
---

<Carousel client:visible>
  {
    certifications.map(({ name, issuedBy, image, link, initDate, endDate }) => {
      return (
        <Link
          to={link}
          target="_blank"
          as="no-animate"
          class="text-white hover:text-purple-300"
        >
          <div class="w-56 h-40 bg-green-500 p-4 rounded-3xl relative grid place-content-center">
            <img
              src={image}
              onerror="src='https://placehold.co/224x160'"
              alt={`${name} certification`}
              class="object-cover w-full h-full rounded-3xl absolute inset-0"
              draggable="false"
            />
            <article class="flex flex-col-reverse justify-between absolute inset-0 bg-black/60 rounded-3xl p-4 g-1">
              <div>
                <h5 class="text-base capitalize font-bold">{name}</h5>
                <p class="text-sm whitespace-nowrap">Issued by: {issuedBy}</p>
                <p class="text-sm whitespace-nowrap capitalize">
                  {initDate} - {endDate}
                </p>
              </div>
              <Icon
                name="link-external"
                size="2rem"
                draggable="false"
                class="self-end"
              />
            </article>
          </div>
        </Link>
      )
    })}
</Carousel>
