---
import ContactForm from '@components/contact-form.svelte'
import SOCIAL_MEDIA from '@lib/social-media.json'
import Link from '@components/link.svelte'
import { currentYear as year } from '@utils/date'
import Container from '@ui/container.svelte'
import { getI18N } from 'src/i18n'

const { currentLocale } = Astro
const i18n = getI18N(currentLocale)
---

<footer id="contact">
  <Container class="from-green-400 to-green-400">
    <section
      class="grid gap-16 p-8 text-2xl md:py-16 md:px-14 lg:py-20 lg:grid-cols-2 lg:gap-32 xl:pt-32 xl:text-3xl"
    >
      <p class="font-medium">
        {i18n.CONTACT_TEXT_1}
      </p>
      <Link
        to={`mailto:${i18n.CONTACT_EMAIL}`}
        class="font-semibold font-serif text-4xl !lowercase whitespace-pre-line"
      >
        {i18n.CONTACT_EMAIL.split('@').join('@\n')}
      </Link>

      <p class="font-medium">
        {i18n.CONTACT_TEXT_2}
      </p>

      <ContactForm API_KEY={import.meta.env.WEB3FORMS_API_KEY} {currentLocale} client:visible />

      <p class="font-medium">{i18n.FOLLOW_ME}</p>
      <article class="flex flex-col lg:flex-row justify-between">
        <ul>
          {
            SOCIAL_MEDIA.map(({ name, url }) => (
              <li class="font-serif font-bold">
                <Link to={url} target="_blank" text={name} />
              </li>
            ))
          }
        </ul>
        <div class="flex flex-col text-sm">
          <span class="opacity-80 w-24 h-6 lines"></span>
          <span>© {year } {i18n.BY_ME}</span>
        </div>
      </article>
    </section>
  </Container>
</footer>

<style>
  .lines {
    opacity: 0.8;
    background: repeating-linear-gradient(
      -45deg,
      currentColor,
      currentColor 2px,
      transparent 2px,
      transparent 6px
    );
  }
</style>
